body {
  font-family: var(--font-Raleway);
  font-family: var(--font-Roboto);
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}